<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

  <table>
    <thead>
    <tr>
      <th> Title</th>
      <th> Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
      <td><span th:text="${transaction.id}"> Id </span></td>
      <td><span th:text="${transaction.amount}"> Amount </span></td>

      <td><span th:text="${transaction.timestampTime}"> TimestampTime </span></td>
      <td><span th:text="${transaction.reference}"> Reference </span></td>
    </tr>
    </tbody>
  </table>
<body>

</body>
</html>