<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

  <table>
    <thead>
    <tr>
      <th> Title</th>
      <th> Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
      <td><span th:text="${transaction.id}"> Id </span></td>
      <td><span th:text="${transaction.amount}"> Amount </span></td>

      <td><span th:text="${transaction.timestampTime}"> TimestampTime </span></td>
      <td><span th:text="${transaction.reference}"> Reference </span></td>
    </tr>
    </tbody>
  </table>
<form th:action="@{/account/{id}(id=${userId})}" th:object="${transactionForm}" method="post">

  <p>Id: <input type="number" th:field="*{id}"/></p>
  <p style="background-color:red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>

  <p>Amount: <input type="number" th:field="*{amount}"/></p>
  <p style="background-color:red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>

  <p>Timestamp: <input type="datetime-local" th:field="*{timestamp}"/></p>
  <p style="background-color:red" th:if="${#fields.hasErrors('timestamp')}" th:errors="*{timestamp}"></p>

  <p>Reference: <input type="text" th:field="*{reference}"/></p>
  <p style="background-color:red" th:if="${#fields.hasErrors('reference')}" th:errors="*{reference}"></p>

  <p><input type="submit" value="Submit"/></p>
</form>
<body>

</body>
</html>